/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn {
  padding: 16px 56px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
}

.btn_two {
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  color: #8B8B8B;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  margin: 0;
}

.btn_three {
  padding: 16px 32px;
  color: var(--txt-black, #282828);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #FFF);
}

.wrapper .header {
  border-bottom: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
}
.wrapper .header .header_box {
  padding: 30px 0 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .header_nav-box .header_nav #check {
  display: none;
}
.wrapper .header .header_nav-box .header_nav ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .header .header_nav-box .header_nav ul .header_items {
  list-style: none;
}
.wrapper .header .header_nav-box .header_nav ul .header_items .header_link {
  margin: 0 16px 0 16px;
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .header .header_nav-box .menu_img {
  display: none;
}
.wrapper .header .header_nav-box .menu_img .media-btn {
  cursor: pointer;
}
.wrapper .header .backet_img {
  position: relative;
}
.wrapper .header .backet_img .btn {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7%;
  width: 26px;
  height: 26px;
  fill: var(--green, #393);
  border-radius: 50%;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 90%;
}

@media screen and (max-width: 800px) {
  .header .header_nav .header_ul {
    padding-top: 30px !important;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background-color: #D9D9D9;
    z-index: 999;
    flex-direction: column;
    padding-left: 65px;
    transition: all 0.8s ease-in-out;
  }
  .header .header_nav .header_ul .header_items {
    display: block;
    padding-bottom: 8px;
  }
  .header .header_nav .header_ul .header_items .header_link {
    font-size: 16px;
  }
  .header .header_nav #check:checked ~ .header_ul {
    left: 0;
  }
  .header .menu_img {
    display: block !important;
  }
  .header .menu_img .media-btn {
    display: block;
  }
}
.container {
  padding: 0;
  width: 1360px;
  margin: 0 auto;
}

.wrapper .main .first_section {
  margin: 0;
  padding: 0;
  background-image: url(../../images/first_section-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .main .first_section .first_section-box {
  padding: 80px 40px 210px 0px;
  margin: 0;
}
.wrapper .main .first_section .first_section-box .text_h {
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}
.wrapper .main .categories .categories_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  justify-content: space-between;
  margin-top: 40px;
  gap: 32px;
}
.wrapper .main .categories .categories_boxes .categorie-box {
  text-align: center;
  margin-right: 32px;
}
.wrapper .main .categories .categories_boxes .categorie-box h4 {
  margin-top: 16px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .title {
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .main .title .title_h {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.wrapper .main .title .line_img {
  right: 10%;
  position: absolute;
  margin: 0;
}
.wrapper .main .title .line_img_2 {
  width: 1093px;
}
.wrapper .main .discount {
  margin: 80px 0;
}
.wrapper .main .discount .container {
  padding: 32px 32px 0px 32px;
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
}
.wrapper .main .discount .container h2 {
  color: var(--txt-white, #FFF);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 24px;
}
.wrapper .main .discount .container .discount_form {
  display: flex;
  align-items: center;
}
.wrapper .main .discount .container .discount_form .form input {
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #FFF);
  background: #0B710B;
}
.wrapper .main .discount .container .discount_form .form input::-moz-placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .discount .container .discount_form .form input::placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .discount .container .discount_form .form .btn_three {
  margin-top: 16px;
  width: 100%;
}
.wrapper .main .sale {
  margin: 80px 0;
}
.wrapper .main .sale .sale_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  justify-content: space-between;
  margin-top: 40px;
  gap: 32px;
}
.wrapper .main .sale .sale_boxes .sale_box {
  position: relative;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .sale .sale_boxes .sale_box img {
  width: 100%;
  border-top-right-radius: var(--radius-big, 12px);
  border-top-left-radius: var(--radius-big, 12px);
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts {
  padding: 20px 32px 32px 32px;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts h4 {
  margin-bottom: 16px;
  overflow: hidden;
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts h2 {
  margin-right: 16px;
  display: inline-block;
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts del {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .sale .sale_boxes .sale_box .btn_position {
  top: 16px;
  right: 16px;
  position: absolute;
  padding: 4px 8px;
}
.wrapper .main .last-child {
  margin-right: 0 !important;
}
.wrapper .footer h1 {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}
.wrapper .footer .end_time {
  margin-bottom: 32px;
  width: 100%;
  padding: 32px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #F1F3F4);
}
.wrapper .footer .end_time h2 {
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.wrapper .footer .map-box {
  margin-bottom: 80px;
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 90%;
  }
  .title {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title .line_img {
    display: none;
  }
  .title .line_img_2 {
    width: 1093px;
  }
  .sale .title {
    align-items: center;
  }
  .sale .title .line_img_2 {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .first_section .first_section-box {
    padding: 80px 0 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 68px !important;
  }
  .discount .container h2 {
    font-size: 44px !important;
  }
  .discount .container .discount_form {
    display: flex;
    align-items: center;
  }
  .discount .container .discount_form img {
    width: 500px;
    margin-top: 75px;
  }
  .discount .container .discount_form .form .btn_three {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 925px) {
  .discount .container .discount_form img {
    width: 350px;
    margin-top: 145px;
  }
}
@media screen and (max-width: 850px) {
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 56px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 725px) {
  .discount .container h2 {
    font-size: 28px !important;
  }
  .discount .container .discount_form img {
    display: none !important;
  }
  .discount .container .discount_form .form input {
    padding: 14px 24px !important;
  }
  .discount .container .discount_form .form input::-moz-placeholder {
    font-size: 16px !important;
  }
  .discount .container .discount_form .form input::placeholder {
    font-size: 16px !important;
  }
  .discount .container .discount_form .form .btn_three {
    margin-top: 16px;
    width: 100%;
    padding: 12px 0;
  }
  .footer h1 {
    font-size: 35px !important;
    margin-bottom: 15px !important;
  }
  .footer .end_time h2 {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 672px) {
  .first_section {
    background-size: cover !important;
  }
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 38px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 14px;
    padding: 12px 36px;
  }
  .title_h {
    color: #282828;
    font-size: 44px !important;
    font-weight: 700;
    line-height: 110%;
  }
}
@media screen and (max-width: 460px) {
  .title {
    flex-direction: column;
    align-items: start !important;
  }
  .title .title_h {
    color: #282828;
    font-size: 44px !important;
    margin-bottom: 24px;
  }
  .title .line_img {
    display: none;
  }
  .title .line_img_2 {
    width: 1093px;
  }
  .first_section {
    background-size: cover !important;
  }
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 26px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 12px;
    padding: 12px 26px;
  }
  .categories .categories_boxes {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .categories .categories_boxes .categorie-box {
    width: 280px !important;
    text-align: center;
    margin-right: 32px;
  }
  .categories .categories_boxes .categorie-box img {
    width: 280px;
  }
  .sale .sale_boxes {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  .discount .container h2 {
    font-size: 18px !important;
  }
}
.wrapper .main .sale .sale_form {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.wrapper .main .sale .sale_form h4 {
  margin-right: 16px;
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .sale .sale_form input {
  margin-right: 16px;
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .sale .sale_form .check {
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .sale .sale_form select {
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  color: #282828;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 126%;
  /* 20.16px */
}
.wrapper .main .sale .sale_boxes .sale_box {
  transition: all 0.9s linear;
}
.wrapper .main .sale .sale_boxes .sale_box .btn_hover {
  display: none;
  padding: 16px 90px;
  position: absolute;
  bottom: 37%;
  left: 16px;
  transition: all 0.2s linear;
}
.wrapper .main .sale .sale_boxes .sale_box .btn_hover:hover {
  border-radius: var(--radius-small, 6px);
  background: var(--black, #282828);
}
.wrapper .main .sale .sale_boxes .sale_box:hover .btn_hover {
  display: flex;
}
.wrapper .main .shopping_cart {
  margin-bottom: 80px;
}
.wrapper .main .shopping_cart .sale_product {
  margin-top: 188px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main .shopping_cart .sale_product .sale_texts {
  position: relative;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .title_x {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .title_x h4 {
  margin-bottom: 0;
}
.wrapper .main .shopping_cart .sale_product .sale_texts h4 {
  margin-bottom: 32px;
  color: #282828;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
}
.wrapper .main .shopping_cart .sale_product .sale_texts h2 {
  margin-right: 32px;
  display: inline-block;
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.wrapper .main .shopping_cart .sale_product .sale_texts del {
  margin-right: 16px;
  color: var(--txt-grey, #8B8B8B);
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: strikethrough;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .btn_p {
  top: 15%;
  position: absolute;
  padding: 4px 8px;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .plus_minus-box {
  margin: 32px 0;
  display: flex;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .plus_minus-box .plus_minus {
  display: flex;
  align-items: center;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .plus_minus-box .plus_minus .div_p {
  padding: 10px 0;
  border-top: 1px solid var(--grey-divider, #DDD);
  border-bottom: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .shopping_cart .sale_product .sale_texts .plus_minus-box .plus_minus .div_p p {
  margin: 0 38px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_product .sale_texts .plus_minus-box .btn {
  padding: 10px 116px;
  margin-left: 32px;
}
.wrapper .main .shopping_cart .sale_product .sale_texts h5 {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_product .sale_texts p {
  margin: 16px 0;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_product .sale_texts a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .tool {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts {
  width: 548px;
  margin: 0;
  padding: 32px 32px 32px 0;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x h4 {
  margin-bottom: 0;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts h4 {
  margin-bottom: 32px;
  color: #282828;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts h2 {
  margin-left: 32px;
  margin-right: 16px;
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts del {
  margin-top: 20px;
  color: var(--txt-grey, #8B8B8B);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .btn_p {
  top: 15%;
  position: absolute;
  padding: 4px 8px;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box {
  margin: 32px 0 0 0;
  display: flex;
  align-items: center;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus {
  display: flex;
  align-items: center;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p {
  padding: 10px 0;
  border-top: 1px solid var(--grey-divider, #DDD);
  border-bottom: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p p {
  margin: 0 38px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .btn {
  padding: 10px 116px;
  margin-left: 32px;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts h5 {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts p {
  margin: 16px 0;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts-two {
  margin-left: 32px;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box {
  margin-left: 32px;
  padding: 32px;
  width: 548px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #F1F3F4);
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box h4 {
  margin-bottom: 24px;
  color: #282828;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box .h_three {
  color: #8B8B8B;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box .h_uch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box .h__3 {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box .sale-form input {
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
}
.wrapper .main .shopping_cart .sale_big-boxes .sale_form-box .sale-form .btn {
  width: 100%;
  margin-top: 16px;
}
.wrapper .main .last-child {
  margin-right: 0 !important;
}/*# sourceMappingURL=main.css.map */