@charset "UTF-8";
/* Core style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
}

input:focus {
  outline: none !important;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.wrapper {
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.btn {
  padding: 16px 56px;
  border-radius: var(--radius-small, 6px);
  background: var(--green, #393);
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  cursor: pointer;
}

.btn_hover:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s linear;
  background: rgb(40, 40, 40);
}

.btn_two {
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  color: #8B8B8B;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
  margin: 0;
}

.btn_three {
  padding: 16px 32px;
  color: var(--txt-black, #282828);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  border-radius: var(--radius-small, 6px);
  background: var(--white, #FFF);
}

.wrapper .header {
  border-bottom: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
}
.wrapper .header .header_box {
  padding: 30px 0 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .header_nav-box .header_nav #check {
  display: none;
}
.wrapper .header .header_nav-box .header_nav ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wrapper .header .header_nav-box .header_nav ul .header_items {
  list-style: none;
}
.wrapper .header .header_nav-box .header_nav ul .header_items .header_link {
  margin: 0 16px 0 16px;
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .header .header_nav-box .header_nav ul .header_items .header_link:hover {
  margin: 0 16px 0 16px;
  color: rgb(51, 153, 51);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.wrapper .header .header_nav-box .menu_img {
  display: none;
}
.wrapper .header .header_nav-box .menu_img .media-btn {
  cursor: pointer;
}
.wrapper .header .backet_img {
  position: relative;
}
.wrapper .header .backet_img .btn {
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7%;
  width: 26px;
  height: 26px;
  fill: var(--green, #393);
  border-radius: 50%;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 90%;
}

@media screen and (max-width: 800px) {
  .header .header_nav .header_ul {
    padding-top: 30px !important;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    background-color: #D9D9D9;
    z-index: 999;
    flex-direction: column;
    padding-left: 65px;
    transition: all 0.8s ease-in-out;
  }
  .header .header_nav .header_ul .header_items {
    display: block;
    padding-bottom: 8px;
  }
  .header .header_nav .header_ul .header_items .header_link {
    font-size: 16px !important;
  }
  .header .header_nav #check:checked ~ .header_ul {
    left: 0;
  }
  .header .menu_img {
    display: block !important;
  }
  .header .menu_img .media-btn {
    display: block;
  }
}
.wrapper .footer h1 {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}
.wrapper .footer .end_time {
  margin-bottom: 32px;
  width: 100%;
  padding: 32px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #F1F3F4);
}
.wrapper .footer .end_time h2 {
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.wrapper .footer .map-box {
  margin-bottom: 80px;
}
.wrapper .footer .map-box iframe {
  border: transparent;
  border-radius: 12px;
}

.container {
  padding: 0;
  width: 1360px;
  margin: 0 auto;
}

.wrapper .main .first_section {
  margin: 0;
  padding: 0;
  background-image: url(../../images/first_section-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper .main .first_section .first_section-box {
  padding: 80px 40px 210px 0px;
  margin: 0;
}
.wrapper .main .first_section .first_section-box .text_h {
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 40px;
}
.wrapper .main .categories .categories_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  justify-content: space-between;
  margin-top: 40px;
  gap: 32px;
}
.wrapper .main .categories .categories_boxes .categorie-box {
  text-align: center;
  margin-right: 32px;
}
.wrapper .main .categories .categories_boxes .categorie-box h4 {
  margin-top: 16px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .title {
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .main .title .title_h {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.wrapper .main .title .line_img {
  position: absolute;
  right: 143px;
  width: 832px;
  height: 1px;
  border: 1px solid rgb(221, 221, 221);
}
.wrapper .main .title .line_img_2 {
  width: 700px;
  position: absolute;
  right: 170px;
  height: 1px;
  border: 1px solid rgb(221, 221, 221);
}
.wrapper .main .title .line_img_3 {
  width: 1093px;
  position: absolute;
  right: 110px;
  height: 1px;
  border: 1px solid rgb(221, 221, 221);
}
.wrapper .main .discount {
  margin: 80px 0;
}
.wrapper .main .discount .container {
  padding: 32px 32px 0px 32px;
  border-radius: var(--radius-big, 12px);
  background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);
}
.wrapper .main .discount .container h2 {
  color: var(--txt-white, #FFF);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 24px;
}
.wrapper .main .discount .container .discount_form {
  display: flex;
  align-items: center;
}
.wrapper .main .discount .container .discount_form .form input {
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--white, #FFF);
  background: #0B710B;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .discount .container .discount_form .form input::-moz-placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .discount .container .discount_form .form input::placeholder {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .discount .container .discount_form .form .btn_three {
  margin-top: 16px;
  width: 100%;
}
.wrapper .main .sale {
  margin: 80px 0;
}
.wrapper .main .sale .sale_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
  justify-content: space-between;
  margin-top: 40px;
  gap: 32px;
}
.wrapper .main .sale .sale_boxes .sale_box {
  position: relative;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .sale .sale_boxes .sale_box img {
  width: 100%;
  border-top-right-radius: var(--radius-big, 12px);
  border-top-left-radius: var(--radius-big, 12px);
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts {
  padding: 20px 32px 32px 32px;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts h4 {
  margin-bottom: 16px;
  overflow: hidden;
  color: #282828;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts h2 {
  margin-right: 16px;
  display: inline-block;
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.wrapper .main .sale .sale_boxes .sale_box .sale_texts del {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.wrapper .main .sale .sale_boxes .sale_box .btn_position {
  top: 16px;
  right: 16px;
  position: absolute;
  padding: 4px 8px;
}

.last-child {
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 90%;
  }
  .title {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title .line_img {
    display: none;
  }
  .title .line_img_2 {
    width: 1093px;
  }
  .sale .title {
    align-items: center;
  }
  .sale .title .line_img_2 {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .first_section .first_section-box {
    padding: 80px 0 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 68px !important;
  }
  .discount .container h2 {
    font-size: 44px !important;
  }
  .discount .container .discount_form {
    display: flex;
    align-items: center;
  }
  .discount .container .discount_form img {
    width: 500px;
    margin-top: 75px;
  }
  .discount .container .discount_form .form .btn_three {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 925px) {
  .discount .container .discount_form img {
    width: 350px;
    margin-top: 145px;
  }
}
@media screen and (max-width: 850px) {
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 56px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 725px) {
  .discount .container h2 {
    font-size: 28px !important;
  }
  .discount .container .discount_form img {
    display: none !important;
  }
  .discount .container .discount_form .form input {
    padding: 14px 24px !important;
  }
  .discount .container .discount_form .form input::-moz-placeholder {
    font-size: 16px !important;
  }
  .discount .container .discount_form .form input::placeholder {
    font-size: 16px !important;
  }
  .discount .container .discount_form .form .btn_three {
    margin-top: 16px;
    width: 100%;
    padding: 12px 0;
  }
  .footer h1 {
    font-size: 35px !important;
    margin-bottom: 15px !important;
  }
  .footer .end_time h2 {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 672px) {
  .first_section {
    background-size: cover !important;
  }
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 38px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 14px;
    padding: 12px 36px;
  }
  .title_h {
    color: #282828;
    font-size: 44px !important;
    font-weight: 700;
    line-height: 110%;
  }
}
@media screen and (max-width: 460px) {
  .title {
    flex-direction: column;
    align-items: start !important;
  }
  .title .title_h {
    color: #282828;
    font-size: 44px !important;
    margin-bottom: 24px;
  }
  .title .line_img {
    display: none;
  }
  .title .line_img_2 {
    width: 1093px;
  }
  .first_section {
    background-size: cover !important;
  }
  .first_section .first_section-box {
    padding: 80px 40 60px 0px !important;
  }
  .first_section .first_section-box .text_h {
    font-size: 26px !important;
    margin-bottom: 10px !important;
  }
  .first_section .first_section-box .btn {
    font-size: 12px;
    padding: 12px 26px;
  }
  .categories .categories_boxes {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .categories .categories_boxes .categorie-box {
    width: 280px !important;
    text-align: center;
    margin-right: 32px;
  }
  .categories .categories_boxes .categorie-box img {
    width: 280px;
  }
  .sale .sale_boxes {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  .sale .sale_boxes .sale_box .btn_hover {
    padding: 16px 76px !important;
  }
  .discount .container h2 {
    font-size: 18px !important;
  }
}
.wrapper .main .sale .sale_form {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.wrapper .main .sale .sale_form .box {
  display: flex !important;
  align-items: center !important;
}
.wrapper .main .sale .sale_form .box .input_box {
  display: flex;
}
.wrapper .main .sale .sale_form .box .input_box input {
  width: 112px;
}
.wrapper .main .sale .sale_form .box h4 {
  color: rgb(40, 40, 40);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin-right: 16px;
}
.wrapper .main .sale .sale_form .box label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 92px;
  color: rgb(40, 40, 40);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.wrapper .main .sale .sale_form .box label:before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
  position: absolute;
  top: -20%;
  right: -28%;
  bottom: 1px;
  background: white;
  box-sizing: border-box;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
}
.wrapper .main .sale .sale_form .box input[type=checkbox] {
  display: none;
}
.wrapper .main .sale .sale_form .box .checkbox label:before {
  border-radius: 6px;
}
.wrapper .main .sale .sale_form .box input[type=checkbox]:checked + label:before {
  content: "✓";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 12px;
  padding-top: 10px;
  background: rgb(51, 153, 51);
}
.wrapper .main .sale .sale_form .box_ {
  display: flex !important;
  align-items: center !important;
}
.wrapper .main .sale .sale_form input {
  margin-right: 16px;
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
}
.wrapper .main .sale .sale_form select {
  padding: 8px 16px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 126%;
}
.wrapper .main .sale .sale_boxes .sale_box {
  transition: all 0.9s linear;
}
.wrapper .main .sale .sale_boxes .sale_box .btn_hover {
  display: none;
  padding: 16px 90px;
  position: absolute;
  bottom: 37%;
  left: 16px;
  transition: all 0.2s linear;
}
.wrapper .main .sale .sale_boxes .btn_hover:hover {
  border-radius: var(--radius-small, 6px);
  background: var(--black, #282828);
}
.wrapper .main .sale_box:hover .btn_hover {
  display: flex !important;
}

.shopping_cart {
  margin-bottom: 80px;
}
.shopping_cart .sale_product {
  margin-top: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping_cart .sale_product .sale_texts {
  position: relative;
}
.shopping_cart .sale_product .sale_texts .title_x {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping_cart .sale_product .sale_texts .title_x h4 {
  margin-bottom: 0;
}
.shopping_cart .sale_product .sale_texts h4 {
  margin-bottom: 32px;
  color: #282828;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
}
.shopping_cart .sale_product .sale_texts h2 {
  margin-right: 32px;
  display: inline-block;
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.shopping_cart .sale_product .sale_texts .h_two {
  padding-top: 43px;
}
.shopping_cart .sale_product .sale_texts del {
  margin-right: 16px;
  color: var(--txt-grey, #8B8B8B);
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  text-decoration-line: strikethrough;
}
.shopping_cart .sale_product .sale_texts .btn_p {
  top: 15%;
  position: absolute;
  padding: 4px 8px;
}
.shopping_cart .sale_product .sale_texts h5 {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.shopping_cart .sale_product .sale_texts p {
  margin: 16px 0;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.shopping_cart .sale_product .sale_texts a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}
.shopping_cart .sale_product .sale_texts a .line_img_4 {
  position: absolute;
  bottom: 0;
  width: 89px;
  height: 1px;
  background-color: black;
}
.shopping_cart .sale_big-boxes {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-big, 12px);
  border: 1px solid var(--grey-divider, #DDD);
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .tool {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 1px solid var(--grey-divider, #DDD);
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts {
  width: 548px;
  margin: 0;
  padding: 32px 32px 32px 0;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x h4 {
  margin-bottom: 0;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts h4 {
  margin-bottom: 32px;
  color: #282828;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .small_box {
  display: flex;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .small_box h2 {
  margin-left: 32px;
  margin-right: 16px;
  color: #282828;
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .small_box del {
  margin-top: 20px;
  color: var(--txt-grey, #8B8B8B);
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .btn_p {
  top: 15%;
  position: absolute;
  padding: 4px 8px;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box {
  margin: 32px 0 0 0;
  display: flex;
  align-items: center;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus {
  display: flex;
  align-items: center;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p {
  padding: 10px 0;
  border-top: 1px solid var(--grey-divider, #DDD);
  border-bottom: 1px solid var(--grey-divider, #DDD);
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p p {
  margin: 0 38px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .btn {
  padding: 10px 116px;
  margin-left: 32px;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts h5 {
  color: #282828;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts p {
  margin: 16px 0;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts a {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts-two {
  margin-left: 32px;
}
.shopping_cart .sale_big-boxes .sale_form-box {
  margin-left: 32px;
  padding: 32px;
  width: 548px;
  height: 597px;
  border-radius: var(--radius-big, 12px);
  background: var(--light-grey, #F1F3F4);
}
.shopping_cart .sale_big-boxes .sale_form-box h4 {
  margin-bottom: 24px;
  color: #282828;
  font-size: 40px;
  font-weight: 700;
  line-height: 110%;
}
.shopping_cart .sale_big-boxes .sale_form-box .h_three {
  color: #8B8B8B;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
}
.shopping_cart .sale_big-boxes .sale_form-box .h_uch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.shopping_cart .sale_big-boxes .sale_form-box .h__3 {
  color: #282828;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}
.shopping_cart .sale_big-boxes .sale_form-box .sale-form input {
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 32px;
  border-radius: var(--radius-small, 6px);
  border: 1px solid var(--grey-divider, #DDD);
  background: var(--white, #FFF);
}
.shopping_cart .sale_big-boxes .sale_form-box .sale-form .btn {
  width: 100%;
  margin-top: 16px;
}

.plus_minus-box {
  margin: 32px 0;
  display: flex;
}
.plus_minus-box .plus_minus-two {
  width: 200px;
  height: 55px;
}
.plus_minus-box .plus_minus {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-divider, #DDD) !important;
  border-radius: 8px;
}
.plus_minus-box .plus_minus .btn_two {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 0;
  padding: 14px 16px;
}
.plus_minus-box .plus_minus .div_p {
  border-top: transparent !important;
  border-bottom: transparent !important;
  padding: 10px 0;
}
.plus_minus-box .plus_minus .div_p p {
  margin: 0 38px;
  color: #282828;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  width: 10px;
}
.plus_minus-box .btn {
  padding: 16px 116px;
  margin-left: 32px;
}

.last-child {
  margin-right: 0 !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 548px;
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  background: rgb(51, 153, 51);
}
.modal .modal-content .title_close {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modal-content .title_close h4 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}
.modal .modal-content p {
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
}

@media screen and (max-width: 1380px) {
  .shopping_cart .sale_product .tool_img {
    width: 480px;
  }
}
@media screen and (max-width: 1310px) {
  .shopping_cart .sale_big-boxes {
    flex-direction: column;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two {
    width: 700px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .tool {
    width: 222px !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts_two {
    margin-left: 32px !important;
  }
  .shopping_cart .sale_form-box {
    width: 63% !important;
    height: 570px !important;
    margin-top: 16px;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1230px) {
  .shopping_cart .sale_product .tool_img {
    width: 300px;
  }
  .shopping_cart .sale_product .sale_texts .p_two {
    display: none;
  }
}
@media screen and (max-width: 1160px) {
  .sale .sale_form {
    flex-direction: column;
    align-items: start !important;
  }
  .sale .sale_form .box {
    padding: 0 !important;
    margin-bottom: 16px;
    display: block !important;
    align-items: center;
  }
  .sale .sale_form .box .checkbox label {
    padding-left: 0 !important;
    padding-right: 16px;
  }
}
@media screen and (max-width: 990px) {
  .shopping_cart .sale_product {
    flex-direction: column;
    align-items: start !important;
  }
  .shopping_cart .sale_product .sale_texts .p_two {
    display: block;
  }
}
@media screen and (max-width: 840px) {
  .sale .title .title_h {
    font-size: 44px !important;
  }
}
@media screen and (max-width: 750px) {
  .shopping_cart .sale_big-boxes .sale_boxes-two {
    width: 100% !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two {
    width: 100% !important;
    height: 180px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x h4 {
    font-size: 14px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box {
    flex-direction: column !important;
    align-items: start !important;
    margin-top: 10px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus {
    height: 35px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .btn_two {
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p p {
    margin: 0 16px !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .small_box {
    margin-top: 16px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .small_box del {
    margin-left: 0;
    font-size: 12px;
    margin-top: 0;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .small_box h2 {
    margin-right: 4px;
    font-size: 24px;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 660px) {
  .sale .title .title_h {
    margin-bottom: 0;
    font-size: 25px !important;
  }
  .sale .sale_form .box {
    flex-direction: column;
  }
  .sale .sale_form .box .h_four {
    padding-right: 185px !important;
    margin-bottom: 6px;
  }
  .sale .sale_form .box .checkbox {
    margin-bottom: 16px;
  }
  .sale .sale_form .box .checkbox label {
    padding-top: 3px;
    font-size: 16px !important;
  }
  .shopping_cart .sale_product {
    flex-direction: column;
    align-items: start !important;
  }
  .shopping_cart .sale_product .sale_texts .btn_p {
    top: 16% !important;
    left: 37%;
  }
  .shopping_cart .sale_product .sale_texts del {
    display: block;
  }
  .shopping_cart .sale_product .sale_texts .plus_minus-box {
    flex-direction: column !important;
  }
  .shopping_cart .sale_product .sale_texts .plus_minus-box .btn {
    padding: 16px 100px;
    width: 285px;
    font-size: 14px;
    margin-top: 16px;
    margin-left: 0;
  }
  .shopping_cart .sale_product .sale_box-two {
    width: 400px !important;
  }
  .shopping_cart .sale_form-box {
    width: 75% !important;
    height: 470px !important;
  }
  .shopping_cart .sale_form-box h4 {
    font-size: 24px !important;
  }
  .shopping_cart .sale_form-box h3 {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 600px) {
  .shopping_cart .sale_product {
    flex-direction: column;
    align-items: start !important;
  }
  .shopping_cart .sale_product .sale_texts .plus_minus-box {
    flex-direction: column !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two {
    width: 100% !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two {
    width: 100% !important;
    height: 180px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x h4 {
    font-size: 14px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box {
    flex-direction: column !important;
    align-items: start !important;
    margin-top: 10px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus {
    height: 35px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .btn_two {
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
  }
  .modal .modal-content {
    max-width: 90%;
  }
  .modal .modal-content .title_close {
    margin-bottom: 12px !important;
  }
  .modal .modal-content .title_close h4 {
    font-size: 20px;
  }
  .modal .modal-content .title_close .close__btn img {
    width: 30px !important;
    height: 30px !important;
  }
  .modal .modal-content p {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .shopping_cart .sale_big-boxes .sale_boxes-two {
    width: 100% !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two {
    width: 100% !important;
    height: 130px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .tool {
    height: 130px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts {
    margin-left: 12px !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x {
    width: 100%;
    margin-bottom: 0 !important;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .title_x h4 {
    font-size: 10px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box {
    flex-direction: column !important;
    align-items: start !important;
    margin-top: 10px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus {
    height: 30px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .btn_two {
    width: 100% !important;
    height: 100% !important;
    padding: 5px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .btn_two .minus,
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .btn_two .plus {
    width: 18px;
  }
  .shopping_cart .sale_big-boxes .sale_boxes-two .sale_box-two .sale_texts .plus_minus-box .plus_minus .div_p {
    padding: 0;
  }
  .shopping_cart .sale_form-box {
    width: 100% !important;
  }
  .modal .modal-content .title_close {
    margin-bottom: 12px !important;
  }
  .modal .modal-content .title_close h4 {
    font-size: 18px !important;
  }
  .modal .modal-content .title_close .close__btn img {
    width: 20px !important;
    height: 20px !important;
  }
  .modal .modal-content p {
    font-size: 13px;
  }
}/*# sourceMappingURL=main.css.map */