@use "../abstracts/variables";
@use "../abstracts/mixin";

.wrapper {
    .header {
        border-bottom: 1px solid var(--grey-divider, #DDD);
        background: var(--white, #FFF);
        .header_box {
            padding: 30px 0 28px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .header_nav-box {
            .header_nav {
                #check {
                    display: none;
                }
                ul {
                    padding: 0;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;

                    .header_items {
                        list-style: none;



                        .header_link {
                            margin: 0 16px 0 16px;
                            color: variables.$black;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                        }

                        .header_link:hover {
                            margin: 0 16px 0 16px;
                            color: rgb(51, 153, 51);
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                            letter-spacing: 0%;
                            text-align: left;
                        }


                    }

                }
            }
            .menu_img {
                display: none;
                .media-btn {
                    cursor: pointer;
                }
            }

        }

        .backet_img {
            position: relative;

            .btn {
                padding: 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 7%;
                width: 26px;
                height: 26px;
                fill: var(--green, #393);
                border-radius: 50%;

                color: var(--white, #FFF);
                text-align: center;
                font-size: 12px;
                font-weight: 600;
                line-height: 90%;
            }
        }
    }
}

// ! media 
@media screen and (max-width: 800px) {
    .header {
        .header_nav {
            .header_ul {
                padding-top: 30px !important;
                margin-top: 0;
                position: fixed;
                top: 0;
                left: -100%;
                width: 28%;
                height: 100%;
                background-color: #D9D9D9;
                z-index: 999;
                flex-direction: column;
                padding-left: 65px;
                transition: all 0.8s ease-in-out;

                .header_items {
                    display: block;
                    padding-bottom: 8px;

                    .header_link {
                        font-size: 16px !important;
                    }
                }
            }
            #check:checked~.header_ul {
                left: 0;
            }
            
        }

       .menu_img {
        display: block !important;
        .media-btn {
            display: block;
        }
       }
    }
}

@media screen and (max-width: 500px) {
    .header {
        .header_nav {
            .header_ul {
                width: 45%;
            }
        }
    }
}