@use "../abstracts/variables";


// * wrapper
.wrapper {

    .main {

        // * Sale section start
        .sale {

            .sale_form {
                margin: 40px 0;
                display: flex;
                align-items: center;

                .box {
                    display: flex !important;
                    align-items: center !important;

                    .input_box {
                        display: flex;

                        input {
                            width: 112px;
                        }
                    }

                    h4 {
                        color: rgb(40, 40, 40);
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 130%;
                        margin-right: 16px;
                    }


                    label {
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        padding-left: 25px;
                        margin-right: 92px;

                        color: rgb(40, 40, 40);
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 130%;
                    }


                    label:before {
                        content: "";
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        margin-right: 10px;
                        position: absolute;
                        top: -20%;
                        right: -28%;
                        bottom: 1px;
                        background: white;
                        box-sizing: border-box;
                        border: 1px solid rgb(221, 221, 221);
                        border-radius: 6px;

                    }

                    input[type=checkbox] {
                        display: none;
                    }

                    .checkbox label:before {
                        border-radius: 6px;
                    }

                    input[type=checkbox]:checked+label:before {
                        content: "✔";
                        font-size: 18px;
                        color: #fff;
                        text-align: center;
                        line-height: 12px;
                        padding-top: 10px;
                        border: 2px solid rgb(255, 255, 255);
                        background: rgb(51, 153, 51);
                    }

                }

                .box_ {
                    display: flex !important;
                    align-items: center !important;

                }

                input {
                    margin-right: 16px;
                    padding: 8px 16px;
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);
                }

                select {
                    padding: 8px 16px;
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);

                    border: 1px solid rgb(221, 221, 221);
                    border-radius: 6px;


                    color: variables.$black;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 126%;
                }
            }

            .sale_boxes {

                .sale_box {
                    transition: all 0.9s linear;
                    background-color: #fff;

                    img {
                        position: relative;
                    }

                    .btn_hover {
                        opacity: 0;
                        z-index: 1;
                        max-width: 100%;
                        width: 92%;
                        padding: 16px 32px 16px 0;
                        position: absolute;
                        bottom: 100px;
                        left: 4%;
                        padding-left: 30px;
                        transition: all 0.2s linear;
                    }
                }

                .btn_hover:hover {
                    border-radius: var(--radius-small, 6px);
                    background: var(--black, #282828) !important;
                }
            }
        }

        .sale_box:hover .btn_hover {
            opacity: 1 !important;
            display: flex !important;
            bottom: 175px !important;
            align-items: center !important;
            justify-content: center !important;
            transition: all 0.1s linear;
            background: var(--green, #393) !important;
        }
    }
}


// ! Shopping cart
.shopping_cart {
    margin-bottom: 80px;

    .sale_product {
        margin-top: 108px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sale_texts {
            position: relative;

            .title_x {
                margin-bottom: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    margin-bottom: 0;
                }
            }

            h4 {
                margin-bottom: 32px;
                color: variables.$black;
                font-size: 40px;
                font-weight: 700;
                line-height: 110%;
                letter-spacing: 1.2px;
            }

            h2 {
                margin-right: 32px;
                display: inline-block;
                color: variables.$black;
                font-size: 64px;
                font-weight: 700;
                line-height: 110%;
            }

            .h_two {
                padding-top: 43px;
            }

            del {
                margin-right: 16px;
                color: var(--txt-grey, #8B8B8B);
                font-size: 40px;
                font-weight: 500;
                line-height: 130%;
                text-decoration-line: strikethrough;
            }

            .btn_p {
                top: 15%;
                position: absolute;
                padding: 4px 8px;
            }



            h5 {
                color: variables.$black;
                font-size: 20px;
                font-weight: 600;
                line-height: 130%;
            }

            p {
                margin: 16px 0;
                color: variables.$black;
                font-size: 16px;
                font-weight: 400;
                line-height: 130%;
            }

            a {
                color: variables.$black;
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                position: relative;

                .line_img_4 {
                    position: absolute;
                    bottom: 0;
                    width: 89px;
                    height: 1px;
                    background-color: black;
                }
            }
        }
    }

    .sale_big-boxes {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        .sale_boxes-two {

            .sale_box-two {
                margin-bottom: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: var(--radius-big, 15px);
                border: 1px solid var(--grey-divider, #DDD);

                .tool {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    border-right: 1px solid var(--grey-divider, #DDD);
                }

                .sale_texts {
                    width: 548px;
                    margin: 0;
                    padding: 32px 32px 32px 0;

                    .title_x {
                        margin-bottom: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            margin-bottom: 0;
                        }
                    }

                    h4 {
                        margin-bottom: 32px;
                        color: variables.$black;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 130%;
                    }

                    .small_box {
                        display: flex;

                        h2 {
                            margin-left: 32px;
                            margin-right: 16px;
                            color: variables.$black;
                            font-size: 40px;
                            font-weight: 600;
                            line-height: 110%;
                        }

                        del {
                            margin-top: 20px;
                            color: var(--txt-grey, #8B8B8B);
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                        }
                    }

                    .btn_p {
                        top: 15%;
                        position: absolute;
                        padding: 4px 8px;
                    }

                    .plus_minus-box {
                        margin: 32px 0 0 0;
                        display: flex;
                        align-items: center;

                        .plus_minus {
                            display: flex;
                            align-items: center;


                            .div_p {
                                padding: 10px 0;
                                border-top: 1px solid var(--grey-divider, #DDD);
                                border-bottom: 1px solid var(--grey-divider, #DDD);

                                p {
                                    margin: 0 38px;
                                    color: variables.$black;
                                    text-align: center;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 130%;
                                }
                            }


                        }

                        .btn {
                            max-width: 100%;
                            width: 100%;
                            padding: 10px 0;
                            margin-left: 32px;
                            text-align: center;
                        }
                    }

                    h5 {
                        color: variables.$black;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 130%;
                    }

                    p {
                        margin: 16px 0;
                        color: variables.$black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 130%;
                    }

                    a {
                        color: variables.$black;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 130%;
                    }
                }

                .sale_texts-two {
                    margin-left: 32px;
                }
            }
        }

        .sale_form-box {
            margin-left: 32px;
            padding: 32px;
            width: 548px;
            height: 597px;
            border-radius: var(--radius-big, 12px);
            background: var(--light-grey, #F1F3F4);

            h4 {
                margin-bottom: 24px;
                color: variables.$black;
                font-size: 40px;
                font-weight: 700;
                line-height: 110%;
            }

            .h_three {
                color: variables.$grey;
                font-size: 40px;
                font-weight: 500;
                line-height: 130%;
            }

            .h_uch {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 32px;
            }

            .h__3 {
                color: variables.$black;
                font-size: 64px;
                font-weight: 700;
                line-height: 110%;
            }

            .sale-form {

                input {
                    margin-bottom: 16px;
                    width: 100%;
                    padding: 16px 32px;
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);
                    background: var(--white, #FFF);
                }

                .btn {
                    width: 100%;
                    margin-top: 16px;
                }
            }
        }



    }

}

// ! Plus-Minus
.plus_minus-box {
    margin: 32px 0;
    display: flex;

    .plus_minus-two {
        width: 200px;
        height: 55px;
    }

    .plus_minus {

        display: flex;
        align-items: center;
        border: 1px solid var(--grey-divider, #DDD) !important;
        border-radius: 9px;

        .btn_two {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            height: 100%;
            padding: 14px 16px;

        }

        .div_p {
            border-top: transparent !important;
            border-bottom: transparent !important;
            padding: 10px 0;

            p {
                margin: 0 38px;
                color: variables.$black;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                line-height: 130%;
                width: 10px;
            }
        }


    }

    .btn {
        padding: 16px 116px;
        margin-left: 32px;
    }
}

// ! Number-input
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.last-child {
    margin-right: 0 !important;
}


// ! Modal

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);

    .modal-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 548px;
        width: 100%;
        padding: 32px;
        border-radius: 12px;
        background: rgb(51, 153, 51);

        .title_close {
            margin-bottom: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                color: rgb(255, 255, 255);
                font-size: 40px;
                font-weight: 600;
                line-height: 110%;
            }
        }

        p {
            margin-bottom: 16px;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 600;
            line-height: 110%;
        }

    }
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


// ! Media
@media screen and (max-width: 1380px) {

    .shopping_cart {
        .sale_product {
            .tool_img {
                width: 480px;
            }
        }
    }
}

@media screen and (max-width: 1310px) {

    .shopping_cart {
        .sale_big-boxes {
            flex-direction: column;

            .sale_boxes-two {
                width: 700px;

                .sale_box-two {

                    .tool {
                        width: 222px !important;
                    }

                    .sale_texts_two {
                        margin-left: 32px !important;
                    }
                }
            }

        }

        .sale_form-box {
            width: 63% !important;
            height: 570px !important;
            margin-top: 16px;
            margin-left: 0 !important;
        }
    }
}

@media screen and (max-width: 1230px) {

    .shopping_cart {
        .sale_product {
            .tool_img {
                width: 300px;
            }

            .sale_texts {
                .p_two {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1160px) {
    .sale {
        .sale_form {
            flex-direction: column;
            align-items: start !important;

            .box {
                padding: 0 !important;
                margin-bottom: 16px;
                display: block !important;
                align-items: center;

                .checkbox {
                    label {
                        padding-left: 0 !important;
                        padding-right: 16px;
                    }
                }

            }
        }

    }
}

@media screen and (max-width: 990px) {
    .shopping_cart {
        .sale_product {
            flex-direction: column;
            align-items: start !important;

            .sale_texts {
                .p_two {
                    display: block;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .sale {
        .title {
            .title_h {
                font-size: 44px !important;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .shopping_cart {
        .sale_big-boxes {
            .sale_boxes-two {
                width: 100% !important;

                .sale_box-two {
                    width: 100% !important;
                    height: 180px;

                    .sale_texts {
                        .title_x {
                            width: 100%;
                            margin-bottom: 0 !important;

                            h4 {
                                font-size: 14px;
                            }
                        }

                        .plus_minus-box {
                            flex-direction: column !important;
                            align-items: start !important;
                            margin-top: 10px;

                            .plus_minus {
                                height: 35px;

                                .btn_two {
                                    width: 100% !important;
                                    height: 100% !important;
                                    padding: 5px;
                                }

                                .div_p {
                                    p {
                                        margin: 0 16px !important;
                                    }
                                }
                            }

                            .small_box {
                                margin-top: 16px;
                                // flex-direction: column;

                                del {
                                    margin-left: 0;
                                    font-size: 12px;
                                    margin-top: 0;
                                }

                                h2 {
                                    margin-right: 4px;
                                    font-size: 24px;
                                    margin-left: 0 !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 660px) {
    .sale {
        .title {
            .title_h {
                margin-bottom: 0;
                font-size: 25px !important;
            }
        }

        .sale_form {
            .box {
                flex-direction: column;

                .h_four {
                    padding-right: 185px !important;
                    margin-bottom: 6px;
                }

                .checkbox {
                    margin-bottom: 16px;

                    label {
                        padding-top: 3px;
                        font-size: 16px !important;
                    }
                }
            }
        }

    }

    .shopping_cart {
        .sale_product {
            flex-direction: column;
            align-items: start !important;

            .sale_texts {

                .btn_p {
                    top: 16% !important;
                    left: 37%;
                }

                del {
                    display: block;
                }

                .plus_minus-box {
                    flex-direction: column !important;

                    .btn {
                        margin-top: 16px;
                        margin-left: 0;
                    }
                }
            }

            .sale_box-two {
                width: 400px !important;
            }
        }

        .sale_form-box {
            width: 75% !important;
            height: 470px !important;

            h4 {
                font-size: 24px !important;
            }

            h3 {
                font-size: 20px !important;
            }

        }
    }

}

@media screen and (max-width: 600px) {
    .shopping_cart {
        .sale_product {
            flex-direction: column;
            align-items: start !important;

            .sale_texts {

                .plus_minus-box {
                    flex-direction: column !important;
                }
            }
        }

        .sale_big-boxes {
            .sale_boxes-two {
                width: 100% !important;

                .sale_box-two {
                    width: 100% !important;
                    height: 180px;

                    .sale_texts {
                        .title_x {
                            width: 100%;
                            margin-bottom: 0 !important;

                            h4 {
                                font-size: 14px;
                            }
                        }

                        .plus_minus-box {
                            flex-direction: column !important;
                            align-items: start !important;
                            margin-top: 10px;

                            .plus_minus {
                                height: 35px;

                                .btn_two {
                                    width: 100% !important;
                                    height: 100% !important;
                                    padding: 5px;
                                }

                            }

                        }
                    }
                }
            }
        }
    }

    .modal {
        .modal-content {
            max-width: 90%;

            .title_close {
                margin-bottom: 12px !important;

                h4 {
                    font-size: 20px;
                }

                .close__btn {
                    img {
                        width: 30px !important;
                        height: 30px !important;
                    }
                }
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .shopping_cart {

        .sale_big-boxes {
            .sale_boxes-two {
                width: 100% !important;

                .sale_box-two {
                    width: 100% !important;
                    height: 130px;

                    .tool {
                        height: 130px;
                    }

                    .sale_texts {
                        margin-left: 12px !important;

                        .title_x {
                            width: 100%;
                            margin-bottom: 0 !important;

                            h4 {
                                font-size: 10px;
                            }
                        }

                        .plus_minus-box {
                            flex-direction: column !important;
                            align-items: start !important;
                            margin-top: 10px;

                            .plus_minus {
                                height: 30px;

                                .btn_two {
                                    width: 100% !important;
                                    height: 100% !important;
                                    padding: 5px;

                                    .minus,
                                    .plus {
                                        width: 18px;
                                    }
                                }

                                .div_p {
                                    padding: 0;
                                }

                            }

                        }
                    }
                }
            }
        }

        .sale_form-box {
            width: 100% !important;
        }


    }

    .modal {
        .modal-content {
            .title_close {
                margin-bottom: 12px !important;

                h4 {
                    font-size: 18px !important;
                }

                .close__btn {
                    img {
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }

            p {
                font-size: 13px;
            }
        }
    }
}


@media screen and (max-width: 400px) {
    .shopping_cart {
        .sale_product {
            .sale_texts {

                .plus_minus-box {
                    .btn {
                        font-size: 9px !important;
                    }
                }
            }

            .sale_box-two {
                width: 400px !important;
            }
        }

        .sale_form-box {
            width: 75% !important;
            height: 470px !important;

            h4 {
                font-size: 24px !important;
            }

            h3 {
                font-size: 20px !important;
            }

        }
    }

    .sale {

        .sale_boxes {

            .sale_box {

                .btn_hover {
                    font-size: 12px !important;
                    padding-left: 70px !important;
                }
            }
        }
    }
}