@use "../abstracts/variables";

.wrapper {

    .main {


        // * Sale section start
        .sale {

            .sale_form {

                .box {
                    display: flex !important;
                }
                
                margin: 40px 0;
                display: flex;
                align-items: center;

                h4 {
                    margin-right: 16px;
                    color: variables.$black;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 130%;
                }

                input {
                    margin-right: 16px;
                    padding: 8px 16px;
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);
                }

                .check {
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);
                }

                select {
                    padding: 8px 16px;
                    border-radius: var(--radius-small, 6px);
                    border: 1px solid var(--grey-divider, #DDD);

                    color: variables.$black;
                    font-family: Montserrat;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 126%;
                    /* 20.16px */
                }
            }

            .sale_boxes {

                .sale_box {
                    transition: all 0.9s linear;

                    .btn_hover {
                        display: none;
                        padding: 16px 90px;
                        position: absolute;
                        bottom: 37%;
                        left: 16px;
                        transition: all 0.2s linear;
                    }

                    .btn_hover:hover {
                        border-radius: var(--radius-small, 6px);
                        background: var(--black, #282828);
                    }
                }

                .sale_box:hover {
                    .btn_hover {
                        display: flex;
                    }
                }
            }


        }

        // * Sale section end


        // * Shopping cart
        .shopping_cart {
            margin-bottom: 80px;
            .sale_product {
                margin-top: 188px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sale_texts {
                    position: relative;

                    .title_x {
                        margin-bottom: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            margin-bottom: 0;
                        }
                    }

                    h4 {
                        margin-bottom: 32px;
                        color: variables.$black;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 110%;
                        letter-spacing: 1.2px;
                    }

                    h2 {
                        margin-right: 32px;
                        display: inline-block;
                        color: variables.$black;
                        font-size: 64px;
                        font-weight: 700;
                        line-height: 110%;
                    }

                    del {
                        margin-right: 16px;
                        color: var(--txt-grey, #8B8B8B);
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 130%;
                        text-decoration-line: strikethrough;
                    }

                    .btn_p {
                        top: 15%;
                        position: absolute;
                        padding: 4px 8px;
                    }

                    .plus_minus-box {


                        margin: 32px 0;
                        display: flex;

                        .plus_minus {
                            display: flex;
                            align-items: center;


                            .div_p {
                                padding: 10px 0;
                                border-top: 1px solid var(--grey-divider, #DDD);
                                border-bottom: 1px solid var(--grey-divider, #DDD);

                                p {
                                    margin: 0 38px;
                                    color: variables.$black;
                                    text-align: center;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 130%;
                                }
                            }


                        }

                        .btn {
                            padding: 10px 116px;
                            margin-left: 32px;
                        }
                    }

                    h5 {
                        color: variables.$black;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 130%;
                    }

                    p {
                        margin: 16px 0;
                        color: variables.$black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 130%;
                    }

                    a {
                        color: variables.$black;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 130%;
                    }
                }
            }

            .sale_big-boxes {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                .sale_boxes-two {

                    .sale_box-two {
                        margin-bottom: 16px;
                        display: flex;
                        align-items: center;    
                        justify-content: space-between;
                        border-radius: var(--radius-big, 12px);
                        border: 1px solid var(--grey-divider, #DDD);
    
                        .tool {
                            border-top-left-radius: 12px;
                            border-bottom-left-radius: 12px;
                            border-right: 1px solid var(--grey-divider, #DDD);
                        }
    
                        .sale_texts {
                            width: 548px;
                            margin: 0;
                            padding: 32px 32px 32px 0;

                                .title_x {
                                    margin-bottom: 32px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
        
                                    h4 {
                                        margin-bottom: 0;
                                    }
                                }
        
                                h4 {

                                    margin-bottom: 32px;
                                    color: variables.$black;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 130%; 
                                }
        
                                h2 {
                                    margin-left: 32px;
                                    margin-right: 16px;
                                    color: variables.$black;
                                    font-size: 40px;
                                    font-weight: 600;
                                    line-height: 110%;
                                }
        
                                del {
                                    margin-top: 20px;
                                    color: var(--txt-grey, #8B8B8B);
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 130%; 
                                }
        
                                .btn_p {
                                    top: 15%;
                                    position: absolute;
                                    padding: 4px 8px;
                                }
        
                                .plus_minus-box {
                                    margin: 32px 0 0 0;
                                    display: flex;
                                    align-items: center;
        
                                    .plus_minus {
                                        display: flex;
                                        align-items: center;
        
        
                                        .div_p {
                                            padding: 10px 0;
                                            border-top: 1px solid var(--grey-divider, #DDD);
                                            border-bottom: 1px solid var(--grey-divider, #DDD);
        
                                            p {
                                                margin: 0 38px;
                                                color: variables.$black;
                                                text-align: center;
                                                font-size: 20px;
                                                font-weight: 600;
                                                line-height: 130%;
                                            }
                                        }
        
        
                                    }
        
                                    .btn {
                                        padding: 10px 116px;
                                        margin-left: 32px;
                                    }
                                }
        
                                h5 {
                                    color: variables.$black;
                                    font-size: 20px;
                                    font-weight: 600;
                                    line-height: 130%;
                                }
        
                                p {
                                    margin: 16px 0;
                                    color: variables.$black;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 130%;
                                }
        
                                a {
                                    color: variables.$black;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 130%;
                                }
                        }
                        .sale_texts-two {
                            margin-left: 32px;
                        }
                    }
                }

                .sale_form-box {
                    margin-left: 32px;
                    padding: 32px;
                    width: 548px;
                    border-radius: var(--radius-big, 12px);
                    background: var(--light-grey, #F1F3F4);

                    h4 {
                        margin-bottom: 24px;
                        color: variables.$black;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 110%;
                    }

                    .h_three {
                        color: variables.$grey;
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 130%;
                    }

                    .h_uch {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 32px;
                    }

                    .h__3 {
                        color: variables.$black;
                        font-size: 64px;
                        font-weight: 700;
                        line-height: 110%;
                    }

                    .sale-form {

                        input {
                            margin-bottom: 16px;
                            width: 100%;
                            padding: 16px 32px;
                            border-radius: var(--radius-small, 6px);
                            border: 1px solid var(--grey-divider, #DDD);
                            background: var(--white, #FFF);
                        }

                        .btn {
                            width: 100%;
                            margin-top: 16px;
                        }
                    }
                }

               
              
            }

        }

        .last-child {
            margin-right: 0 !important;
        }
    }

}

@media screen and (max-width: 1160px) {
    .sale {
        .sale_form {
            flex-direction: column;
            align-items: start !important;
            .box {
                margin-bottom: 16px;
            display: block !important;
            align-items: center;

            }
        }   
    }
}
