@use "../abstracts/variables";

.container {
    padding: 0;
    width: 1360px;
    margin: 0 auto;
}

.wrapper {

    // * Main start
    .main {

        // * First section start
        .first_section {
            margin: 0;
            padding: 0;
            background-image: url(../../images/first_section-bg.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;

            .first_section-box {
                padding: 80px 40px 210px 0px;
                margin: 0;

                .text_h {
                    color: variables.$white;
                    font-size: 96px;
                    font-weight: 700;
                    line-height: 110%;
                    margin-bottom: 40px;
                }
            }
        }

        // * First section end

        // Categories section start
        .categories {

            .categories_boxes {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
                justify-content: space-between;
                margin-top: 40px;
                gap: 32px;

                .categorie-box {
                    text-align: center;
                    margin-right: 32px;

                    h4 {
                        margin-top: 16px;
                        color: variables.$black;
                        text-align: center;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 130%;
                    }
                }
            }

        }

        // Categories section end


        // Title
        .title {
            position: relative;
            margin-top: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .title_h {
                color: variables.$black;
                font-size: 64px;
                font-weight: 700;
                line-height: 110%;
            }

            .line_img {
                position: absolute;
                right: 10.6%;
                width: 832px;
                height: 1px;
                flex-grow: 1;
                margin: 0px 0px;
                border: 1px solid rgb(221, 221, 221);
            }

            .line_img_2 {
                width: 1093px;
            }
        }


        // Discount section start
        .discount {
            margin: 80px 0;

            .container {
                padding: 32px 32px 0px 32px;
                border-radius: var(--radius-big, 12px);
                background: linear-gradient(261deg, #0B710B 32.63%, #393 98.96%);

                h2 {
                    color: var(--txt-white, #FFF);
                    text-align: center;
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 110%;
                    margin-bottom: 24px;
                }

                .discount_form {
                    display: flex;
                    align-items: center;

                    .form {
                        input {
                            margin-bottom: 16px;
                            width: 100%;
                            padding: 16px 32px;
                            border-radius: var(--radius-small, 6px);
                            border: 1px solid var(--white, #FFF);
                            background: #0B710B;
                            color: variables.$white;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;


                        }

                        input::placeholder {
                            color: variables.$white;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                        }

                        .btn_three {
                            margin-top: 16px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        // Discount section end


        // Sale section start
        .sale {
            margin: 80px 0;

            .sale_boxes {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(316px, 1fr));
                justify-content: space-between;
                margin-top: 40px;
                gap: 32px;

                .sale_box {
                    position: relative;
                    border-radius: var(--radius-big, 12px);
                    border: 1px solid var(--grey-divider, #DDD);

                    img {
                        width: 100%;
                        border-top-right-radius: var(--radius-big, 12px);
                        border-top-left-radius: var(--radius-big, 12px);
                    }

                    .sale_texts {
                        padding: 20px 32px 32px 32px;

                        h4 {
                            margin-bottom: 16px;
                            overflow: hidden;
                            color: variables.$black;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                        }

                        h2 {
                            margin-right: 16px;
                            display: inline-block;
                            color: variables.$black;
                            font-size: 40px;
                            font-weight: 600;
                            line-height: 110%;
                        }

                        del {
                            color: variables.$grey;
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 130%;
                        }
                    }

                    .btn_position {
                        top: 16px;
                        right: 16px;
                        position: absolute;
                        padding: 4px 8px;
                    }
                }
            }
        }

        // Sale section end


        .last-child {
            margin-right: 0 !important;
        }
    }

    //  * Main end

    // * Footer section start
    .footer {

        h1 {
            color: variables.$black;
            font-size: 64px;
            font-weight: 700;
            line-height: 110%;
            margin-bottom: 40px;
        }

        .end_time {
            margin-bottom: 32px;
            width: 100%;
            padding: 32px;
            border-radius: var(--radius-big, 12px);
            background: var(--light-grey, #F1F3F4);

            h2 {
                color: variables.$black;
                font-size: 40px;
                font-weight: 600;
                line-height: 110%;
            }
        }

        .map-box {
            margin-bottom: 80px;

            iframe {
                border: transparent;
                border-radius: 12px;

            }
        }
    }

    // * Footer section end
}


// Media start
@media screen and (max-width: 1380px) {
    .container {
        max-width: 90%;
    }

    // Title
    .title {
        position: relative;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .line_img {
            display: none;
        }

        .line_img_2 {
            width: 1093px;
        }
    }

    .sale {
        .title {
            align-items: center;

            .line_img_2 {
                display: none !important;
            }
        }
    }


}

@media screen and (max-width: 1200px) {
    .first_section {

        .first_section-box {
            padding: 80px 0 60px 0px !important;

            .text_h {
                font-size: 68px !important;
            }
        }
    }

    // Discount section start
    .discount {

        .container {

            h2 {
                font-size: 44px !important;
            }

            .discount_form {
                display: flex;
                align-items: center;

                img {
                    width: 500px;
                    margin-top: 75px;
                }

                .form {

                    .btn_three {
                        margin-bottom: 34px;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:925px) {

    // Discount section start
    .discount {

        .container {

            .discount_form {

                img {
                    width: 350px;
                    margin-top: 145px;
                }
            }
        }
    }
}




@media screen and (max-width: 850px) {
    .first_section {

        .first_section-box {
            padding: 80px 40 60px 0px !important;

            .text_h {
                font-size: 56px !important;
                margin-bottom: 10px !important;
            }

            .btn {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width:725px) {

    // Discount section start
    .discount {

        .container {

            h2 {
                font-size: 28px !important;
            }

            .discount_form {

                img {
                    display: none !important;
                }

                .form {
                    input {
                        padding: 14px 24px !important;
                    }

                    input::placeholder {
                        font-size: 16px !important;
                    }

                    .btn_three {
                        margin-top: 16px;
                        width: 100%;

                        padding: 12px 0;
                    }
                }
            }
        }
    }

    .footer {

        h1 {
            font-size: 35px !important;
            margin-bottom: 15px !important;
        }

        .end_time {
            h2 {
                font-size: 16px !important;
            }
        }
    }
}

@media screen and (max-width: 672px) {
    .first_section {
        background-size: cover !important;

        .first_section-box {
            padding: 80px 40 60px 0px !important;

            .text_h {
                font-size: 38px !important;
                margin-bottom: 10px !important;
            }

            .btn {
                font-size: 14px;
                padding: 12px 36px;
            }
        }
    }

    .title_h {
        color: variables.$black;
        font-size: 44px !important;
        font-weight: 700;
        line-height: 110%;
    }
}

@media screen and (max-width: 460px) {

    .title {
        flex-direction: column;
        align-items: start !important;

        .title_h {
            color: variables.$black;
            font-size: 44px !important;
            margin-bottom: 24px;
        }

        .line_img {
            display: none;
        }

        .line_img_2 {
            width: 1093px;
        }
    }

    .first_section {
        background-size: cover !important;

        .first_section-box {
            padding: 80px 40 60px 0px !important;

            .text_h {
                font-size: 26px !important;
                margin-bottom: 10px !important;
            }

            .btn {
                font-size: 12px;
                padding: 12px 26px;
            }
        }
    }

    .categories {

        .categories_boxes {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            margin-left: 30px;

            .categorie-box {
                width: 280px !important;
                text-align: center;
                margin-right: 32px;

                img {
                    width: 280px;
                }
            }
        }

    }

    .sale {
        .sale_boxes {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            margin-left: 5px;

            .sale_box {

                .btn_hover {
                    padding: 16px 76px !important;
                }
            }
        }
    }

    .discount {

        .container {

            h2 {
                font-size: 18px !important;
            }

        }
    }
}